extends layout

block content
  main.container
  .bg-light.p-5.rounded.m-5
    h1 QR Codes
    .row
      each qrCode in qrCodes
        .col-md-3.col-sm-3.p-1
          .card
            img.card-img-top(src=qrCode.qrCode, width='180', height='180')
            .card-body
              p.card-text #{qrCode.message}
              a.btn.btn-outline-primary(href=qrCode.qrCode, download="qr-code.png") Download
              - var deleteAction = "/list/" + qrCode._id
              form(method="post" action=deleteAction)
                input(type="hidden" name="qrCodeId" value=qrCode._id)
                button.btn.btn-outline-danger Delete
